# Location:
# /etc/nginx/sites-available/DOMAIN
server {
  listen 80;
  server_name st01.vassily.pro;

  # Added in version 2
  location /static {
    alias /home/vldo/sites/st01.vassily.pro/static;
  }

  location / {
    proxy_pass http://unix:/tmp/st01.vassily.pro.socket;
    proxy_set_header Host $host;
  }
}

# then provide a symlink
# cd /etc/nginx/sites-enabled
# sudo ln -s /etc/nginx/sites-available/$SITENAME $SITENAME

# location / {
#   # Use the sockets in V3
#   proxy_pass http://unix:/tmp/st01.vassily.pro.socket;
#   # proxy_pass http://localhost:8000;
# }
